root_url: https://share.example.com

exclude:
  - .*
  - bin
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - Rakefile
  - README.md
  - vendor

plugins:
  - jekyll-assets

assets:
  css_compressor: sass
  sources:
    - _assets/images
    - _assets/javascripts
    - _assets/stylesheets
  engines:
    sass:
      style: compressed
