---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Share to diaspora*</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet about %}
    {% javascript about %}

    <script>
      var firefoxShareData = {
        "name": "diaspora*",
        "description": "diaspora* is a distributed social network where you keep control over your data.",
        "author": "The diaspora* project",
        "homepageURL": "{{site.root_url}}/about.html",
        "iconURL":   "{% data_url icons/diaspora-16.png %}",
        "icon32URL": "{% data_url icons/diaspora-32.png %}",
        "icon64URL": "{% data_url icons/diaspora-64.png %}",
        "shareURL": "{{site.root_url}}/?url=%{url}&title=%{title}&notes=%{text}",
        "version": "2.1.0"
      };
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/about.html">Advanced Sharer for diaspora*</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <img src="{% asset_path about_header.png %}" alt="" class="img-responsive">
        <h3 class="text-center">Share all teh internetz!</h3>
      </div>
    </div>


    <div class="container">
      <div class="row col-xs-12">
        <p>
          Welcome! You found the website of our little cross-pod sharing application. This was mainly
          created to embed the share application into Firefox, but it is also possible to use it as
          a dedicated "share to diaspora*" button in your favorite website.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row col-xs-12">
        <h2>Firefox Social Provider</h2>
        <p>
          Add a native Share button to the Share Services of Firefox. Click "Share This Page" from the browser
          toolbar to open the save dialog. Just click the following button and choose <em>Enable Services</em>.
        </p>
        <p>
          <a class="btn btn-success" id="fxAdd">Add to Firefox</a>
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Bookmarklet</h2>
          <p>
            Instead of using several bookmarklets for several pods, you can just drag this one:
            <a href="javascript:(function(){f='{{site.root_url}}/?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&notes='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&v=1&';a=function(){if(!window.open(f+'noui=1&jump=doclose','diasporav1','location=yes,links=no,scrollbars=yes,toolbar=no,width=620,height=550'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()">Share on diaspora*</a> to your bookmarks bar.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Add-on for Firefox</h2>
          <p>
            If you do not want to use Firefox' Social API or the bookmarklet,
            <a href="https://addons.mozilla.org/es/firefox/addon/diaspora-advanced-sharer/">diaspora* Advanced Sharer</a>
            by <a href="https://iliketoast.net/u/jaywink">Jason Robinson</a> adds a sharing button to Mozilla Firefox.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row col-xs-12">
        <h2>Share buttons</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Without JavaScript</h3>
          {% include snippet.html name="without_js" %}
        </div>
        <div class="col-md-6">
          <h3>With JavaScript</h3>
          {% include snippet.html name="with_js" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Without JavaScript, with text</h3>
          {% include snippet.html name="without_js_with_text" %}
        </div>
        <div class="col-md-6">
          <h3>With JavaScript and text</h3>
          {% include snippet.html name="with_js_and_text" %}
        </div>
      </div>
    </div>

    <hr>
    <footer>
      <div class="container">
        <div class="row col-xs-12">
          <p>
            This project was created by <a href="{{site.root_url}}/humans.txt">Awesome Contributors</a> and is
            licensed under the <a target="_blank" href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.
            Want to help or fork the project? The source code is available at
            <a href="https://github.com/diaspora/sharetodiaspora">Github</a>. Check the Github repository for
            information on how to contribute.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
