---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Share on diaspora*</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="defaultLanguage" content="en">
    <meta name="availableLanguages" content="de, en">
    <link rel="localization" href="/locales/{locale}/index.l20n">
    {% stylesheet main %}
    {% javascript main %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand" data-l10n-id="title">Share to diaspora*</span>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-6" id="podlist">
          <h3 data-l10n-id="choose">Choose your diaspora* pod</h3>
          {% for pod in site.data.pods %}
            <a class="btn btn-default btn-block btn-xs
            {% if forloop.index > 5 %}hidden-xs{% endif %}" data-host="{{pod.host}}">{{pod.name}}</a>
          {% endfor %}
        </div>
        <div class="col-sm-6">
          <h3 data-l10n-id="customhost">or enter your pod URL</h3>
          <form id="customHostForm">
            <div class="checkbox">
              <input type="customHostInput" class="form-control" id="customHostInput" placeholder="pod.example.com">
            </div>
            <span data-l10n-id="submitshare">
              <input type="submit" class="btn btn-default btn-block" data-l10n-id="submitshare" value="Share" />
            </span>
          </form>
          <h3 data-l10n-id="preferences">Preferences</h3>
          <div class="checkbox">
            <label for="remember">
              <input type="checkbox" id="remember"> <span data-l10n-id="remember">Remember my choice, don't ask again</span>
            </label>
          </div>
          <div class="checkbox">
            <label for="markdown">
              <input type="checkbox" id="markdown"> <span data-l10n-id="markdown">Use Markdown syntax for link</span>
            </label>
          </div>
          <a class="btn btn-default btn-block" data-l10n-id="reset" id="reset">
            Reset preferences
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
