/*
 *= require bootstrap/dist/css/bootstrap
 *= require spinkit/scss/spinners/10-fading-circle
 */

body {
  padding: 20px 0;
}

.loader {
  background-color: white;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;

  .sk-fading-circle {
    height: 90px;
    margin-top: -45px;
    top: 50%;
    width: 90px;
  }
}

h3 {
  font-size: 18px;
}

.navbar {
  min-height: 20px;
}

.navbar-brand {
  font-size: 15px;
  height: 30px;
  padding: 5px 15px;
}
