<a href="javascript:;" onclick="window.open('{{site.root_url}}/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550'); return false;" rel="nofollow" target="_blank" style="padding: 3px 4px 2px; background: #fafafa; border: 1px solid #ddd; font-size: 13px; color: #222; text-decoration: none;">
  <img src="{% data_url icons/diaspora-16.png %}" style="border: 0px solid;display: inline-block;padding-bottom: 3px;" />
  diaspora*
</a>
